<div class="post media">
    <h3>{{ post.message_html|safe }}</h3>
    <div class="media-body">
{#        <strong>{{ post.user.username }}</strong>#}
        <h5 class="media-heading">
            <i class="bi bi-person-fill"></i> <a href="{% url 'posts:for_user' username=post.user.username %}">
            @{{ post.user.username }}
        </a>
            <br>
            <time class="time">
                <i class="bi bi-clock-fill"></i> <a href="{% url 'posts:single' username=post.user.username pk=post.pk %}">
                    {{ post.created_at }}
                </a>
            </time>
        </h5>
        <div class="media-footer">
            {% if not hide_delete and user.is_authenticated and user.username == post.user.username %}
                <a href="{% url 'posts:delete' pk=post.pk %}" title="delete" class="btn btn-danger">
               <i class="bi bi-trash3-fill"></i> Delete
                </a>
            {% endif %}
        </div>
    </div>
</div>